# Technical Challenge ! Custiomers and Orders - The lifeblood of any business!

This notebook depends on two data files: customers.scv and orders.csv. These files are hosted in the cloud (or Github), so for simplicity, we are providing you with the code to download and save the two files in a folder called 'sample_data' which lives within this notebook session (not on your local computer nor Google Drive).

![sample_data folder in notebook session](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/sample_data_folder.png)

Please execute the first code snippet before moving to the rest of the exercise as this code will import the data from the files for you to be able to execute the rest of the exercise.

Remember as we said in the previous lecture, you have to save this notebook into your Google Drive by going to menu File/Save a Copy In Drive, or clicking in the button "Copy to Drive". This way, you will not lose any work you've done and the file will persist with your latest changes in your Google Drive. Also we recommend you to rename your .ipynb in your Google Drive, so you can easily find it in the future.

In [ ]:
import requests
import pandas as pd
import numpy as np
def import_data_files():
  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
  with open('./sample_data/customers.csv', 'wb') as f:
    f.write(r.content)

  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv')
  with open('./sample_data/orders.csv', 'wb') as f:
    f.write(r.content)
  
import_data_files()
print("Customers and orders CSV files have been added './sample_data'")

Customers and orders CSV files have been added './sample_data'

# Exercise 1: Processing Customers data (difficulty medium)

The sample customer data in 'customers.csv' file has just 5 columns: CustomerId, First Name, Last Name, City and State

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/customers.png)

We strongly recommend that you complete from the [Prep Course: Intro to Python](https://colab.research.google.com/github/anyoneai/notebooks/blob/main/python3_crash_course.ipynb) the following section:
- Section 7: File I/O (to understand how to read CSV file) 
- Section 6: For Loop (to navigate the contents of the CSV file)
- Section 5: Tuples, Lists, and Dictionaries (to manipulate the data of the CSV file)

With this, we hope you can complete this exercise successfully. Although if you want to solve this with libraries or any other way, you are welcome to do it your way.

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://github.com/anyoneai/notebooks/blob/main/customers_and_orders/data/customers.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, keep in mind that data might not be clean and you might have to figure out how to deal with that data from the code, without having to modify the data source.

Below are the 5 questions you'll have to answer to pass the evaluation:

**Question 1:** How many customers are in the file?
(as help, we have added some comments and starter code to help you structure the solution)

In [ ]:
from os.path import exists
import csv
from collections import defaultdict
import pandas as pd
import numpy as np

# check if file can be found and open the file
datafile = "./sample_data/customers.csv"
if not exists(datafile):
  raise SystemExit("You should run the first code cell and download the dataset files!")

# customers file is in the sample_data folder and can be opened.
# Using csv reader is one way of dealing with the file 
# but it's up to you how you want to proceed
with open(datafile, 'r') as fl:
  csvreader = csv.reader(fl, delimiter=',')

  # loop through the rows and count etc. THE REST IS UP TO YOU!
  row_count = sum(1 for row in csvreader)

print("All done!")

In [ ]:
print('There are', row_count-1, 'Customers')

**Question 2:** In how many different states do the customers live in?

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv(datafile)

In [ ]:
df.drop_duplicates()

     CustomerID    FirstName      LastName         City State
0          6192        Randi    Piedrahita  Canoga Park    CA
1       5100595  Christopher       Abraham   Loma Linda    CA
2       1902451        Elvis      Jauregui  Los Angeles    CA
3       1906377         Jose  Mota-Sanchez       Downey    CA
4       1902406      Scott        McCrorie   Long Beach    CA
..          ...          ...           ...          ...   ...
597     5415365      Trinity     Hall Reif        Poway    CA
598     5415465       Kisona   Mialoto Jr.      Lynwood    CA
599     5415345     Lawrence         Zhang  Temple City    CA
600     5415481         John        Hughes    Round Top    TX
601     5415482      Phillip        Okonma  Los Angeles    CA

[602 rows x 5 columns]

In [ ]:
dfaux=df[:]["State"].str.upper()

In [ ]:
for index, value in dfaux.items():
  dfaux.iloc[index]=dfaux.iloc[index].strip()

In [ ]:
lista=dfaux

In [ ]:
lista=lista.to_dict()

In [ ]:
lf = pd.DataFrame([[key, lista[key]] for key in lista.keys()], columns=['id', 'state'])

In [ ]:
freq = lf.groupby('state').size()

In [ ]:
c = sum(1 for row in freq.groupby(['state']))

In [ ]:
c

14

In [ ]:
#They live in 14 different states

**Question 3** What is the state with most customers?

In [ ]:

freq

state
AZ      6
CA    569
CO      3
FL      3
ID      1
IN      1
MA      1
NH      1
NM      3
NV      8
OR      1
TX      2
UT      2
WA      1
dtype: int64

In [ ]:
max_value = -1
max_idx = None
# evaluate the contents of the file
for i, num in enumerate(freq):
    if (max_value is None or num > max_value):
        max_value = num
        max_idx = i

In [ ]:
print('Maximum value:', max_value, "At index: ", freq.index[max_idx])

Maximum value: 569 At index:  CA

In [ ]:
#The state with the most number of customers, is CA with 569 customers

**Question 4** What is the state with the least customers?

In [ ]:
freq

state
AZ      6
CA    569
CO      3
FL      3
ID      1
IN      1
MA      1
NH      1
NM      3
NV      8
OR      1
TX      2
UT      2
WA      1
dtype: int64

In [ ]:
a=freq.min()

In [ ]:
states_min=[]
min_value = 9999
min_idx = None
# evaluate the contents of the file
for i, num in enumerate(freq): 
    print(num)
    if (num == a):
        min_value = num
        min_state = i
        states_min.append(freq.index[min_state])

6
569
3
3
1
1
1
1
3
8
1
2
2
1

In [ ]:
states_min

['ID', 'IN', 'MA', 'NH', 'OR', 'WA']

In [ ]:
#there are 6 States with 1 customer: ID,IN,MA,NH,OR,WA.

**Question 5:** What is the most common last name?

In [ ]:
ln=df['LastName'].value_counts()

In [ ]:
max_value = None
max_idx = None
# evaluate the contents of the file
for i, num in enumerate(ln):
    if (max_value is None or num > max_value):
        max_value = num
        max_lastname = i

In [ ]:
ln.index[max_lastname]

'Smith'

In [ ]:
#The most common last name is Smith.

# Exercise 2: Processing Orders data (difficulty high)

The second sample files contains orders placed by customers from the first file. Be careful, this file has many rows and you most likely should not print the contents of the whole file. 

The file contains the following columns: CustomerID, OrderID, Date, OrderTotal, ProductName, Price

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/orders.png)

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, the data is not clean and you will have to figure out how to deal with that data from the code, without having to modify the data source.



**Question #1:** How many unique orders are in the orders.csv file?

**Question #2:** What is the average number of items per order (rounded to two decimal places)?

**Question #3:** What is the highest number of items per order?

**Question #4:** What is the number of orders placed in October 2021?

**Question #5:** Which customer spent the most amount of money in 2021?

**Question #6:** Historically, what is the best month for sales?

Once you get your answers, remember to go back to the course and introduce them in the multiple choice quiz

In [ ]:
from collections import defaultdict
import pandas as pd
import numpy as np
datafile = "./sample_data/orders.csv"
if not exists(datafile):
  raise SystemExit("You should run the first code cell and download the dataset files!")

# customers file is in the sample_data folder and can be opened.
# Using csv reader is one way of dealing with the file 
# but it's up to you how you want to proceed
with open(datafile, 'r') as fl:
  csvreader = csv.reader(fl, delimiter=',')
  # loop through the rows and count etc. THE REST IS UP TO YOU!
  row_count = sum(1 for row in csvreader)
  print(row_count)
print("All done!")

29295
All done!

In [ ]:
#Question 1: How many unique orders are in the orders.csv file?

In [ ]:
df= pd.read_csv(datafile)

In [ ]:
df

,CustomerID,OrderID,Date,OrderTotal,ProductName,Price
0,8091,7742581,2021-07-26 14:40:10.783,95.0,Z03,90.0
1,902139,7742778,2021-08-08 05:01:21.120,60.0,0844 A/C,60.0
2,2300266,7742593,2021-07-27 11:00:16.020,185.0,M07,90.0
3,2300266,7742593,2021-07-27 11:00:16.020,185.0,M09,90.0
4,5173013,7742609,2021-07-28 14:26:13.930,165.0,0324,160.0
...,...,...,...,...,...,...
29289,5415451,7791815,2022-02-07 14:37:30.567,0.0,Circle #041,0.0
29290,5415483,7791820,2022-02-07 15:55:55.260,132.0,HH33,125.0
29291,5415485,7791822,2022-02-07 16:23:05.940,132.0,3568,125.0
29292,4300695,7791824,2022-02-07 16:55:33.343,157.0,0414,150.0
29293,5415503,7791848,2022-02-09 10:36:56.553,132.0,PP22,125.0

In [ ]:
num=df['OrderID'].unique()
len(num)

16672

In [ ]:
#There are 16672 unique orders in the dataset

In [ ]:
#Question 2: What is the average number of items per order (rounded to two decimal places)?

In [ ]:
df= pd.read_csv(datafile)

In [ ]:
df.isnull().sum()

CustomerID        0
OrderID           0
Date           2142
OrderTotal        0
ProductName       0
Price             0
dtype: int64

In [ ]:
df = df[['OrderID', 'ProductName']]

In [ ]:
grouped = df.groupby('OrderID').agg('count')

In [ ]:
grouped.columns = ['nItems']

In [ ]:
grouped

         nItems
OrderID
5038          1
5052          2
5058          2
5126          1
5130          2
...         ...
7791846       1
7791847       1
7791848       1
7791849       3
7791850       3

[16672 rows x 1 columns]

In [ ]:
a=grouped.describe().round(2)

In [ ]:
a

         nItems
count  16672.00
mean       1.76
std        1.61
min        1.00
25%        1.00
50%        1.00
75%        2.00
max       35.00

In [ ]:
a=a.values.tolist()

In [ ]:
a

[[16672.0], [1.76], [1.61], [1.0], [1.0], [1.0], [2.0], [35.0]]

In [ ]:
a[1]

[1.76]

In [ ]:
#The avg items per order is 1.76

In [ ]:
Question #3: What is the highest number of items per order?

In [ ]:
max(grouped['nItems'])

35

In [ ]:
#The highest number of items per order is 35

In [ ]:
Question #4: What is the number of orders placed in October 2021?

In [ ]:
df= pd.read_csv(datafile)

In [ ]:
df

,CustomerID,OrderID,Date,OrderTotal,ProductName,Price
0,8091,7742581,2021-07-26 14:40:10.783,95.0,Z03,90.0
1,902139,7742778,2021-08-08 05:01:21.120,60.0,0844 A/C,60.0
2,2300266,7742593,2021-07-27 11:00:16.020,185.0,M07,90.0
3,2300266,7742593,2021-07-27 11:00:16.020,185.0,M09,90.0
4,5173013,7742609,2021-07-28 14:26:13.930,165.0,0324,160.0
...,...,...,...,...,...,...
29289,5415451,7791815,2022-02-07 14:37:30.567,0.0,Circle #041,0.0
29290,5415483,7791820,2022-02-07 15:55:55.260,132.0,HH33,125.0
29291,5415485,7791822,2022-02-07 16:23:05.940,132.0,3568,125.0
29292,4300695,7791824,2022-02-07 16:55:33.343,157.0,0414,150.0
29293,5415503,7791848,2022-02-09 10:36:56.553,132.0,PP22,125.0

In [ ]:
data=df['Date']

In [ ]:
a=(data[:][:] >= '2021-10-00 00:00:00.000')  & (data[:][:] < '2021-11-00 00:00:00.000')

In [ ]:
data[a]

6106     2021-10-05 10:51:09.087
6107     2021-10-05 10:51:09.087
6108     2021-10-05 12:50:28.550
6109     2021-10-05 12:50:28.550
6110     2021-10-05 12:50:28.550
                  ...
10233    2021-10-28 10:47:38.840
10234    2021-10-28 10:47:38.840
10235    2021-10-28 12:56:05.220
10236    2021-10-28 12:56:05.220
10237    2021-10-29 13:08:19.380
Name: Date, Length: 437, dtype: object

In [ ]:
cant=0
for i in a:
  if(i == True):
    cant=+cant + 1

In [ ]:
cant

437

In [ ]:
#The number of orders placed in October 2021 is 437

In [ ]:
#5: Which customer spent the most amount of money in 2021?

In [ ]:
df= pd.read_csv(datafile)

In [ ]:
df

,CustomerID,OrderID,Date,OrderTotal,ProductName,Price
0,8091,7742581,2021-07-26 14:40:10.783,95.0,Z03,90.0
1,902139,7742778,2021-08-08 05:01:21.120,60.0,0844 A/C,60.0
2,2300266,7742593,2021-07-27 11:00:16.020,185.0,M07,90.0
3,2300266,7742593,2021-07-27 11:00:16.020,185.0,M09,90.0
4,5173013,7742609,2021-07-28 14:26:13.930,165.0,0324,160.0
...,...,...,...,...,...,...
29289,5415451,7791815,2022-02-07 14:37:30.567,0.0,Circle #041,0.0
29290,5415483,7791820,2022-02-07 15:55:55.260,132.0,HH33,125.0
29291,5415485,7791822,2022-02-07 16:23:05.940,132.0,3568,125.0
29292,4300695,7791824,2022-02-07 16:55:33.343,157.0,0414,150.0
29293,5415503,7791848,2022-02-09 10:36:56.553,132.0,PP22,125.0

In [ ]:
df=df[['CustomerID', 'Price', 'Date']]

In [ ]:
df[:]['Date']

0        2021-07-26 14:40:10.783
1        2021-08-08 05:01:21.120
2        2021-07-27 11:00:16.020
3        2021-07-27 11:00:16.020
4        2021-07-28 14:26:13.930
                  ...
29289    2022-02-07 14:37:30.567
29290    2022-02-07 15:55:55.260
29291    2022-02-07 16:23:05.940
29292    2022-02-07 16:55:33.343
29293    2022-02-09 10:36:56.553
Name: Date, Length: 29294, dtype: object

In [ ]:
mask = (df['Date'] >= '2021-01-1') & (df['Date'] <= '2021-12-31')
filtered_df=df.loc[mask]

In [ ]:
filtered_df

       CustomerID  Price                     Date
0            8091   90.0  2021-07-26 14:40:10.783
1          902139   60.0  2021-08-08 05:01:21.120
2         2300266   90.0  2021-07-27 11:00:16.020
3         2300266   90.0  2021-07-27 11:00:16.020
4         5173013  160.0  2021-07-28 14:26:13.930
...           ...    ...                      ...
28805     5370247  100.0  2021-12-29 11:00:27.180
28806     4301100   90.0  2021-12-30 09:58:41.053
28807     4301100   90.0  2021-12-30 09:58:41.053
28808      703561  250.0  2021-12-30 10:10:54.830
28809     1909346   80.0  2021-12-30 15:43:16.130

[3494 rows x 3 columns]

In [ ]:
df=filtered_df

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
grouped_price = df.groupby('CustomerID').sum()

In [ ]:
grouped_price.columns = ['amount']

In [ ]:
g=grouped_price.sort_values(by='amount', ascending= False)

In [ ]:
g.index[0]

5172443

In [ ]:
#The customer who spent the most amount of money in 2021 was "CustomerID 5172443" with $7675.0

In [ ]:
#6: Historically, what is the best month for sales?

In [ ]:
df= pd.read_csv(datafile)

In [ ]:
df = df[['Date', 'Price']]

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
result=df.groupby(pd.Grouper(key='Date',freq='M')).agg({'Price':'sum'})

In [ ]:
c=result.sort_values(by='Price', ascending= False)

In [ ]:
my_date = c.index[0]
my_date

Timestamp('2022-01-31 00:00:00')

In [ ]:
my_date.month

1

In [ ]:
#Historically, the best month was January of the year 2022

# Finished!

Hope this was not too difficult and slicing and dicing the datasets was some fun. Now head on back to the course and provide the answers to the questions from this exercise.